name: Deploy latest Pavlov PC Server to Container Registry

on:
  push:
    branches:
      - main
    paths:
      - "container/**"
      - ".github/workflows/deploy-container.yml"
  workflow_dispatch:


env:
  REGISTRY: ${{ secrets.REGISTRY }}
  USERNAME: ${{ secrets.USERNAME }}
  PASSWORD: ${{ secrets.PASSWORD }}

concurrency:
  group: containers

jobs:
  pavlov-server-pc:
    name: Deploy Pavlov PC Server Container
    runs-on: ubuntu-latest
    environment: development

    steps:
    - uses: actions/checkout@v2

    - name: Login to container registry
      run: docker login $REGISTRY -u $USERNAME -p $PASSWORD

    - name: Get current pavlov server build ID
      run: export PAVLOV_CURRENT_VERSION=`curl -s "https://api.steamcmd.net/v1/info/622970" | jq -r ".data[\"622970\"].depots.branches.public.buildid"` && echo "PAVLOV_CURRENT_VERSION=$PAVLOV_CURRENT_VERSION" >> $GITHUB_ENV

    - name: Get container tag
      run: export CONTAINER_TAG=intunderflow/pavlov-server-pc:${{ env.PAVLOV_CURRENT_VERSION }} && echo "PAVLOV_CONTAINER_TAG=$CONTAINER_TAG" >> $GITHUB_ENV

    - name: Build container
      run: cd container && docker build --tag=${{ env.PAVLOV_CONTAINER_TAG }} .

    - name: Push container
      run: docker push ${{env.PAVLOV_CONTAINER_TAG}}
